#NavUl li {
    list-style-type: none;
    text-decoration: none;
    color: aqua;
}

.button-flex {
    display: inline-flex;
    flex-wrap: wrap;
}


pre {
    font-family: -apple-system;
    font-size: 1.2em;
}

.flex {
    display: flex;
    padding: 0;
}

.alert-primary {
    width: 19%;
    display: block;
    margin: 0 auto;
    position: relative;
    right: -28.5em;
    position: absolute;
    top: 9.5em;
    left: 28em;
}

.about-container {
    font-size: 22px;
    width: 59vw;
    margin: 1.5em auto;
}

.i-btn {
    font-size: 16px;
    cursor: pointer;
    position: relative;
    bottom: 5 px;
    right: 5 px;
}

.text-preview {
    margin-top: 1 rem !important;
    margin-bottom: 3 rem !important;
}
.footer {
    position: fixed;
    bottom: 1px;
    width: 100%;
}
/* Media Queries for smaller screans  */
@media screen and (max-width : 805px) {
    .about-container {
        width: 76vw;
        font-size: 20px;
    }
}
@media screen and (max-width : 450px) {
    .about-container {
        width: 86vw;
        font-size: 18px;
    }
}
@media screen and (max-width : 750px) {
    .footer-flex{
        display: flex;
        justify-content: center !important;
    }
}