#NavUl li{
    list-style-type: none;
    text-decoration: none;
    color: aqua;
}
.footer{
    position: fixed;
    bottom: 1px;
    width: 100%;
}
pre{
    font-family: -apple-system;
    font-size: 1.2em;
}
.flex{
    display: flex;
}
.preview-text:hover{
    
}